* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-worldbeauty); opacity: 7;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --color-bg: #191919;
  --color-bg-edit: #03122F;
  --color-backend:  #391306;
  --color-frontend: #EB7C8F;
  --color-inov-gestao: #D48C70;
  --color-error: #FF0000;
  --color-light-gray: #A5A5A5;
  --color-white: #FFFFFF;
  --color-white-smoke: #F5F5F5;
  --color-blue: #007BFF;
  --color-blue-light: #2271D1;
  --color-dark-gray-border: #262626;
  --color-black: #000000;
  --color-brillo: #FFD700;
  --color-button-shadow: #772035;
  --color-banner: #f78da7;
  --color-worldbeauty: #FFE3DF;
}
